@use "sass:math";

// Кольори
:root {
	--accent-color: #f03e3e;
}
// Функції
@import "_functions.scss";
// Шрифти
@import "_fonts.scss";
// Іконки
@import "_icons.scss";
// Обнулення
@import "_reset.scss";
// Компоненти

// Мінімальна ширина сторінки
$minWidth: 320;
// Ширина полотна (макету)
$maxWidth: 1920;
// Ширина обмежуючого контейнера (0 = немає обмеження)
$maxWidthContainer: 1600;
// Загальний відступ у контейнера
// (30 = по 15px ліворуч і праворуч, 0 = немає відступу)
$containerPadding: 30;
// Ширина спрацьовування першого брейкпоінту
$containerWidth: $maxWidthContainer + $containerPadding;
html {
	scroll-behavior: smooth;
}
body {
	font-family: "Poppins";
	&.menu-open {
		overflow: hidden;
		touch-action: none;
		overscroll-behavior: none;
	}
}
body.lock {
	overflow: hidden;
	touch-action: none;
}
.wrapper {
	overflow: clip;
	display: flex;
	flex-direction: column;
	min-height: 100%;
	main {
		flex-grow: 1;
	}
}

[class*="__container"] {
	max-width: toRem(1630);
	margin: 0 auto;
	padding: 0 toRem(15);
}

.header {
	@include adaptiveValue("padding-top", 25, 10);
	@include adaptiveValue("padding-bottom", 25, 10);
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	z-index: 20;
	transition: all 0.3s ease;
	background-color: #fff;
	&.scrolled {
		background-color: #fff;
		border-bottom: toRem(1) solid rgba(221, 82, 32, 0.25);
		padding-top: toRem(10);
		padding-bottom: toRem(10);
	}
	// .header__container

	&__container {
		max-width: toRem(1640);
		display: flex;
		align-items: center;
		@include adaptiveValue("gap", 100, 20, $widthTo: 800);
		justify-content: space-between;
	}

	// .header__logo

	&__logo {
		z-index: 20;
		flex-shrink: 0;
		max-width: toRem(200);
		max-height: toRem(30);
		width: 100%;
		height: 100%;
		object-fit: contain;
		@media (max-width: toEm(505)) {
			display: none;
		}
	}
	&__logo-mobile {
		display: none;
		@media (max-width: toEm(505)) {
			display: block;
			max-width: toRem(73);
			object-fit: contain;
			width: 100%;
			height: toRem(30);
		}
	}
	&__buttons-wrap {
		display: flex;
		gap: toRem(20);
		@media (max-width: toEm(480)) {
			gap: toRem(10);
		}
	}
	&__button {
		flex-shrink: 0;
		padding: toRem(10) toRem(20);
		@media (max-width: toEm(480)) {
			padding: toRem(5) toRem(8);
		}
	}
}

//=========================HERO=================

.hero {
	@include adaptiveValue("margin-top", 90, 48);
	padding-top: toRem(90);
	padding-bottom: toRem(90);
	background-image: url("../img/hero-bg.png");
	background-size: auto;
	background-repeat: no-repeat;
	background-position: right;
	position: relative;
	background-color: rgba(222, 238, 249, 0.3);
	@media (max-width: toEm(767.98)) {
		background-image: none;
	}
	@media (max-width: toEm(480)) {
		padding-top: toRem(50);
		padding-bottom: toRem(50);
	}
	// .hero__container

	&__container {
	}
	&__content {
		display: flex;
		flex-direction: column;
		max-width: toRem(700);
		@media (max-width: toEm(1045)) {
			max-width: toRem(450);
		}
		@media (max-width: toEm(767.98)) {
			align-items: center;
			justify-content: center;
			text-align: center;
			max-width: 100%;
		}
	}
	// .hero__title

	&__title {
		line-height: 1.2;
		@include adaptiveValue("font-size", 60, 30);
		font-weight: 600;
		animation: show 0.8s ease-out forwards;
		transform: translateY(-30px);
		will-change: transform;
		transition: all 0.3s;

		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 30, 20);
		}
		span {
			color: var(--accent-color);
		}
	}
	// .hero__text

	&__text {
		color: #4d5154;
		@include adaptiveValue("font-size", 20, 18);
		line-height: 1.4;
		animation: show 0.8s ease-out forwards;
		animation-delay: 0.5s;
		opacity: 0;
		transition: all 0.3s;
		transform: translateY(-30px);
		will-change: transform;
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 30, 20);
		}
	}

	// .hero__button

	&__button {
		padding: toRem(20) toRem(10);
		width: fit-content;
		will-change: transform;
		animation: scale 0.8s ease-out forwards;
		animation-delay: 1s;
		transform: translateY(-30px);
		opacity: 0;
		will-change: transform;
		transition: all 0.3s;
		transform: scale(0.8);
		@media (max-width: toEm(480)) {
			width: 100%;
			padding: toRem(10) toRem(15);
		}
	}
}
@keyframes scale {
	0% {
		opacity: 0;
		transform: scale(0.5);
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}
@keyframes show {
	0% {
		opacity: 0;
		transform: translateY(-30px);
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
.button {
	flex-shrink: 0;
	text-align: center;
	@include adaptiveValue("font-size", 18, 16);
	border-radius: toRem(6);
	transition: all 0.3s;
	&--transparent {
		border: toRem(1) solid #e9e9ea;
		font-weight: 600;
		background-color: #fff;
		color: var(--accent-color);
		@media (any-hover: hover) {
			&:hover {
				box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
			}
		}
	}
	&--background {
		color: #fff;
		background-color: var(--accent-color);
		@media (any-hover: hover) {
			&:hover {
				box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
				background-color: #c11818;
			}
		}
	}
}
//===================COMPANIES=========================
.companies {
	padding: toRem(50) 0;

	// .companies__container

	&__container {
		text-align: center;
	}

	// .companies__title

	&__title {
		color: #9ea0a2;
		line-height: 1.2;
		font-size: toRem(18);
		&:not(:last-child) {
			margin-bottom: toRem(50);
			@media (max-width: toEm(480)) {
				margin-bottom: toRem(30);
			}
		}
	}

	// .companies__wrapper

	&__wrapper {
		margin: 0 auto;
		max-width: toRem(900);
		display: flex;
		flex-wrap: wrap;
		gap: toRem(20);
		justify-content: space-around;
		@media (max-width: toEm(480)) {
			justify-content: center;
			max-width: 100%;
		}
		img {
			width: toRem(150);
			height: toRem(40);
			object-fit: contain;
		}
	}
}

//==============================CATEGORY===================

.category {
	position: relative;
	@include adaptiveValue("padding-top", 100, 25);
	@include adaptiveValue("padding-bottom", 100, 50);

	// .category__container

	&__container {
	}

	// .category__wrapper

	&__wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: toRem(30);
	}

	// .category__item
	&__title {
		max-width: toRem(500);
		margin: 0 auto;
		@include adaptiveValue("font-size", 35, 28);
		font-weight: 600;
		text-align: center;
		line-height: 1.2;
		text-transform: capitalize;
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 30, 20);
		}
	}
	&__text {
		color: #4d5154;
		@include adaptiveValue("font-size", 20, 18);
		line-height: 1.4;
		text-align: center;
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 60, 30);
		}
	}
	&__item {
	}
	&__items-wrap {
		max-width: toRem(760);
		width: 100%;
	}
}

.item-category {
	width: 100%;
	height: auto;
	overflow: hidden;
	font-size: 1.2rem;
	padding: toRem(20) toRem(25);
	border-radius: toRem(8);
	background-color: #fafafa;
	border: toRem(1) solid #f2f2f2;
	display: flex;
	gap: toRem(20);
	position: relative;
	transition: all 0.3s ease-out;
	@media (any-hover: hover) {
		&:hover {
			box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
		}
	}

	@media (max-width: toEm(480)) {
		padding: toRem(15);
		flex-direction: column;
	}
	&--background {
		border-left: toRem(8) solid #ffd500;
		border-top-left-radius: toRem(8);
		border-bottom-left-radius: toRem(8);
		background-color: #fff7d7;
	}
	// .item-category__icon

	&__icon {
		max-width: toRem(50);
		max-height: toRem(50);
		width: 100%;
		height: 100%;
		background-size: cover;
		flex-shrink: 0;
	}

	// .item-category__info

	&__info {
		width: 100%;
		display: flex;
		flex-direction: column;
		gap: toRem(30);
	}

	// .item-category__header

	&__header {
		width: 100%;
	}
	&__details {
		position: absolute;
		top: toRem(15);
		right: toRem(15);
		display: flex;
		gap: toRem(15);
		width: fit-content;
	}
	// .item-category__title

	&__title {
		font-family: inherit;
		font-size: 1.2rem;
		font-weight: 600;
		color: #000;
		white-space: nowrap;
		text-overflow: ellipsis;
		max-width: 70%;
	}

	// .item-category__date

	&__date {
		font-size: 0.9rem;
		line-height: 1.4em;
		color: #4d5154;
		&--new {
			padding: toRem(3) toRem(6);
			background-color: #ffd500;
			font-weight: 600;
			border-radius: toRem(3);
			text-transform: uppercase;
			font-size: 0.75rem;
		}
	}

	// .item-category__pin

	&__pin {
		width: toRem(18);
		height: toRem(18);
	}

	// .item-category__list

	&__list {
		display: flex;
		gap: toRem(10);
		overflow-x: auto;
		scroll-snap-type: x mandatory;
		scrollbar-width: thin;
		scrollbar-color: rgba(209, 91, 52, 0.3) rgba(255, 255, 255, 0.777);
		padding-bottom: toRem(15);

		&::-webkit-scrollbar {
			height: 6px;
		}
		&::-webkit-scrollbar-track {
			background: rgba(255, 255, 255, 0.777);
		}
		&::-webkit-scrollbar-thumb {
			background: rgba(209, 91, 52, 0.3);
			border-radius: 3px;
		}
		@media (max-width: toEm(690)) {
		}
	}

	// .item-category__item

	&__item {
		flex: 0 0 auto;
		white-space: nowrap;
		font-size: 0.9rem;
		flex-shrink: 0;
		line-height: 1.4;
		color: #000;
		font-weight: 500;
		padding: 0.2rem 0.5rem;
		border-radius: toRem(4);
		background-color: #fff;
		border: toRem(1) solid #ddd;
		&:last-child {
			margin-right: toRem(50);
			@media (max-width: toEm(480)) {
				margin-right: 0;
			}
		}
		&.active {
			background-color: #ffd500;
		}
	}
}
.popup {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: #0000008e;
	backdrop-filter: blur(5px); 
	top: 0;
	left: 0;
	opacity: 0;
	visibility: hidden;
	transition: all 0.5s ease 0s;
	z-index: 50;
	&__body {
		min-height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: toRem(30) toRem(10);
		
	}
	&__content {
		border-radius: toRem(8);
		max-width: toRem(780);
		max-height: toRem(780);
		background-color: #fff;
		padding: toRem(40) toRem(20) toRem(20) toRem(20);
		color: #000;
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		overflow-y: auto;
		overflow-x: hidden;
		@media (max-width: toEm(480)) {
			padding: toRem(35) toRem(10) toRem(10) toRem(10);
			max-height: toRem(500);
		}
	}
	&__close {
		position: absolute;
		top: toRem(10);
		right: toRem(10);
		width: toRem(30);
		height: toRem(30);
		background-color: #fff;
		border: 0.0625rem solid #e9e9ea;
		border-radius: toRem(6);
		display: flex;
		align-items: center;
		justify-content: center;
		img {
			width: toRem(25);
		height: toRem(25);
			will-change: transform;
			transition: transform 0.3s;
		}
		@media (any-hover: hover) {
			&:hover {
				img {
					transform: scale(1.1);
				}
			}
		}
	}
	&__title {
		@include adaptiveValue("font-size", 30, 25);
		font-weight: 600;
		color: var(--accent-color);
		text-align: center;
		line-height: 1.2;
		&:not(:last-child) {
			margin-bottom: toRem(25);
		}
	}
	&__video {
		max-width: 100%;
		aspect-ratio: 16 /9;

		video {
			border-radius: toRem(10);
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 50, 30);
		}
	}
	&__description {
		p {
			color: #5a5c5d;
			@include adaptiveValue("font-size", 18, 16);
			line-height: 1.2;
			&:not(:last-child) {
				margin-bottom: toRem(10);
			}
		}
		a {
			@include adaptiveValue("font-size", 20, 18);
			color: var(--accent-color);
			font-weight: 500;
			transition: color 0.3s;
			@media (any-hover: hover) {
				&:hover {
					color: #060606;
				}
			}
		}
			&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 70, 30);
		}
	}
	&__button {
		padding: toRem(15) toRem(35);
		@media(max-width: toRem(480)){
			width: 100%;
					padding: toRem(10) toRem(15);

		}
	}
}
.popup.open {
	visibility: visible;
	opacity: 1;
}
.popup:not(.open) .popup__close {
	pointer-events: none;
	visibility: hidden;
}
//=====================FOOTER=============================

.footer {
	background-color: #fafafa;
	// .footer__container

	&__container {
	}

	// .footer__top

	&__top {
		padding: toRem(40) toRem(0);
		display: flex;
		gap: toRem(20);
		justify-content: space-between;
		@media (max-width: toEm(480)) {
			flex-direction: column;
			align-items: center;
			gap: toRem(40);
			padding: toRem(20) toRem(0);
		}
	}

	// .footer__logo

	&__logo {
		flex-shrink: 0;
		max-width: toRem(200);
		max-height: toRem(30);
		width: 100%;
		height: 100%;
		object-fit: contain;
	}

	// .footer__social

	&__social {
	}
}
.social {
	display: flex;
	gap: toRem(20);

	// .social__link

	&__link {
		&::before {
			font-size: toRem(25);
			transition: color 0.3s;
		}
		@media (any-hover: hover) {
			&:hover {
				color: var(--accent-color);
			}
		}
	}
}

.bottom-footer {
	background-color: #212529;
	color: #fff;
	padding: toRem(20);

	// .bottom-footer__container

	&__container {
		gap: toRem(20);
		display: flex;
		justify-content: space-between;
		@media (max-width: toEm(570)) {
			flex-direction: column-reverse;
			align-items: center;
			font-size: toRem(14);
		}
	}

	// .bottom-footer__copyright

	&__copyright {
	}

	// .bottom-footer__privacy

	&__privacy {
		display: flex;
		gap: toRem(20);
		@media (max-width: toEm(400)) {
			flex-direction: column;
			align-items: center;
		}
		a {
			transition: color 0.3s;
			@media (any-hover: hover) {
				&:hover {
					color: var(--accent-color);
				}
			}
		}
	}
}
